@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

li, ul, menu{
  list-style: none;
}

img{
  width: 100%;
}

/* DEBUG */

.debug .container{
  border: 1px solid black;
}

.debug .border-black{
  border: solid 1px black;
}

.debug .border-white{
  border: 1px solid white;
}

.debug .header--logo{
  width: 150px;
}

.debug .header .row{
  /* height: 70px; */
}

.debug .card{
  height: 450px;
}

/* UTILITIES */

.white{
  color: white;
}

.bg-company{
  background-color: #FE6900;
}

.bg-dark{
  background-color: black;
}

.col-4{
  width: calc(4 * 100% / 12);
}

/* LAYOUT */

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

/* HEADER */

.header .row{
  align-items: center;
  justify-content: space-between;
}

.header li{
  display: inline;
}

.categories a{
  font-weight: 700;
}

.header i{
  margin-right: 5px;
}

.header .header--logo{
  width: 150px;
}

/* CARDS */

.card{
  height: 450px;
}


/* FOOTER */
.footer .row{
  justify-content: space-between;
}

.footer .foot--legal-info li{
  display: inline-block;
}
