/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

li, ul, menu{
  list-style: none;
}

/* DEBUG */

.debug .container{
  border: 1px solid black;
}

.debug .border-black{
  border: solid 1px black;
}

.debug .header--logo{
  width: 150px;
}

.debug .header .row{
  height: 70px;
}

/* UTILITIES */

.white{
  color: white;
}

.bg-company{
  background-color: #FE6900;
}

/* LAYOUT */

.container{
  max-width: 1024px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

svg{
  height: 100%;
}

.header .row{
  align-items: center;
  justify-content: space-between;
}

.header li{
  display: inline;
}